.stat-card {
    height: 160px;
}

.icon-box {
    width: 48px;
    height: 48px;
    border-radius: var(--radius-md);
    display: flex;
    align-items: center;
    justify-content: center;
}

.col-span-2 {
    grid-column: span 2;
}

.col-span-1 {
    grid-column: span 1;
}

.chart-placeholder {
    width: 100%;
    border-bottom: 1px solid #eee;
}

.chart-placeholder .bar {
    width: 100%;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    transition: height 1s ease-out;
}